.wrapper1 {
    text-align: center;
    margin-top: 50%;
}

.button1 {
    font-size: large;
    /*top: 50%;*/
    color: white;
    background: #016B3B;
    border-color: #2b542c;
    height: 75px;
    width: 250px;
    margin-bottom: 20px;
}

.buttonRetour {
    background: #016B3B;
    border-color: #2b542c;
    /*height: 75px;*/
    /*width: 250px;*/
    margin-left: 5%;
    margin-top: 5%;
}

.awesomeBtn{
    color: white;
    background-color: transparent;
    border-color: transparent;
}
