.wrapper1 {
    text-align: center;
    margin-top: 50%;
}

.button1 {
    font-size: large;
    /*top: 50%;*/
    color: white;
    background: #016B3B;
    border-color: #2b542c;
    height: 75px;
    width: 250px;
    margin-bottom: 20px;
}

.buttonRetour {
    background: #016B3B;
    border-color: #2b542c;
    /*height: 75px;*/
    /*width: 250px;*/
    margin-left: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.awesomeBtn{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.buttonDownload {
    background: #016B3B;
    border-color: #2b542c;
    /*height: 75px;*/
    /*width: 250px;*/
    margin-left: 20%;
    margin-top: 2%;
    margin-bottom: 2%;
}

.awesomeBtnDownload{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.buttonCouche {
    height: 50px;
    width: 50px;
    background: #016B3B;
    border-color: #2b542c;
    /*height: 75px;*/
    /*width: 250px;*/
    /*margin-left: 20%;*/
    /*margin-top: 2%;*/
    /*margin-bottom: 2%;*/
}

.awesomeBtnCouche{
    color: white;
    background-color: transparent;
    border-color: transparent;
}

.tetePanel {
    padding: 10px 10px !important;
}

.checkbox{
    margin-top:0px;
}

.group label.checkbox{
    margin-left: 40px;
}

.sousMenu{
    margin-left:60px;
}